{
 "extends": "airbnb",
 "plugins": [
     "react",
 ],
"globals": {
  "window": true,
  "chrome": true,
  "document": true,
},
 "rules": {
     "import/no-unresolved": [0, { "commonjs": true }],
     "no-underscore-dangle": "off",
     "jsx-a11y/click-events-have-key-events": "off",
     "react/jsx-no-bind": [2, {
         "ignoreRefs": false,
         "allowArrowFunctions": false,
         "allowBind": true,
     }],
     "react/prop-types": 0,
     "react/jsx-filename-extension": 0,
     "camelcase": [2, { "properties": "always" }],
     "react/prefer-stateless-function": 0,
     "no-undef": 2,
     "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }],
     "prefer-destructuring": 0,
     "no-else-return": 0,
     "arrow-body-style": 0,
     "jsx-a11y/no-distracting-elements": 0,
     "no-unused-expressions": ["error", {"allowTernary": true}]
   },
}
