#wa_main {
  position: fixed;
  top: 0;
  left: 0;
  background: blue;
}

#Lobby {
  position: fixed;
  margin-left: 30vw;
  margin-top: 20vh;
  background-color: rgba(246, 246, 246, 1);}

#leaderboard  {
  position: fixed;
  top: 0vh;
  left: 0vw;
  width: 160px;
  height: 100%;
  margin-left: 10px;
  background-color: rgba(246, 246, 246, 1);
}

.leaderboard-item {
  
}

#currentPlayerView {
  text-align: center;
  font-family: impact;
  font-size: 25px;
  background-color: rgba(3, 169, 244, 1);
  margin-right: 10px;
}

#endPopUp {
  position: fixed;
  text-align: center;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  padding: 30px;
  margin: -200px 0px 0px -180px;
  font-family: impact;
  font-size: 36px;
  background-color: rgba(3, 169, 244, .90);
  left: 50%;
  top: 50%;
}

#userStats {
  height: 100px;
  font-family: impact;
  font-size: 25px;
  margin-top: 10px;
}

.playerName {
  position: absolute;
  color: white;
  background-color:#545454;
  top: -24px;
  padding: 0 12px;
  border-radius: 10px;
  text-align: center;
}

.player-img {
  position: absolute;
  height: 40px;
  width: 40px;
  top: -10px;
}

#overlay {
  position: fixed;
  background: grey;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

#pauseModal {
  position: fixed;
  height: 300px;
  width: 500px;
  top: 50%;
  left: 50%;
  background-color: white;
  margin: -150px 0 0 -250px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
}

#pause {
  font-family: impact;
  font-size: 50px;
  text-align: center;
}

#wahoo {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0px;
  margin-top: 48px;
}
