@import url(https://fonts.googleapis.com/css?family=Orbitron:900);

@keyframes rainbow {
  0% {
      color: red
  }
  20% {
      color: orange
  }
  40% {
      color: gold
  }
  60% {
      color: green
  }
  80% {
      color: #00f
  }
  to {
      color: purple
  }
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

@keyframes rainbow-border {
  0% {
      border: 3px solid red
  }
  20% {
      border: 3px solid orange
  }
  40% {
      border: 3px solid gold
  }
  60% {
      border: 3px solid green
  }
  80% {
      border: 3px solid #00f
  }
  to {
      border: 3px solid purple
  }
}

@keyframes gray-border {
  0% {
      border: 5px solid #fff
  }
  50% {
      border: 5px solid gray
  }
  to {
      border: 5px solid #000
  }
}

@keyframes rainbow-gradient {
  0%,to {
      background-position: 0 82%
  }
  50% {
      background-position: 100% 19%
  }
}

@keyframes color-change-0 {
  0% { color: red; }
  50% { color: orangered; }
  100% { color: gold; }
}

@keyframes color-change-1 {
  0% { color: orange; }
  50% { color: gold; }
  100% { color: green; }
}

@keyframes color-change-2 {
  0% { color: gold; }
  50% { color: green; }
  100% { color: blue; }
}

@keyframes color-change-3 {
  0% { color: green; }
  50% { color: blue; }
  100% { color: purple; }
}

@keyframes color-change-4 {
  0% { color: blue; }
  50% { color: purple; }
  100% { color: indigo; }
}

@keyframes color-change-5 {
  0% { color: purple; }
  50% { color: indigo; }
  100% { color: red; }
}

label input[type=radio] {
  display: none
}

button,input {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  border-radius: 3px
}

input {
  font-size: 9pt;
  background: #f8fbfd;
  box-shadow: inset 0 1px 2px #ccc,1px 1px 0 rgba(255,255,255,.6);
  border: 1px solid #aaa;
  padding: 2px 3px
}

input+img {
  border: 3px solid transparent
}

button {
  margin: 5px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background: #fc8d83;
  padding: 3px 12px;
  color: #fff
}

.colorful-button {
  font-family: 'Orbitron',sans-serif;
  border: 1px solid gray;
  background: linear-gradient(124deg,#ff2400,#e81d1d,#e8b71d,#e3e81d,#1de840,#1ddde8,#2b1de8,#dd00f3,#dd00f3);
  background-size: 1800% 1800%;
  padding: 7px 20px 3px;
  color: #fff;
  animation-name: rainbow-gradient;
  animation-duration: 18s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-play-state: running
}

button:hover {
  background-color: #e4685d
}

:checked+img {
  opacity: 1;
  border-radius: 5px;
  animation-name: rainbow-border;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running
}

svg {
  width: 20px
}

svg:hover {
  cursor: pointer;
  fill: #6495ed
}

#wa-container,#wa-main {
  top: 0;
  left: 0;
  position: fixed
}

#mw-head {
  z-index: 0;
}

#wa-main {
  background: #00f
}

#wa-container {
  width: 11em;
  height: 100%
}

#topbar {
  display: flex;
  flex-flow: row;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #aedaf9;
  background: white;
  z-index: -1;
}

#sound {
  position: absolute;
  width: 20px;
  height: 20px;
  padding-top: 10px;
  right: 50px;
  display: block;
}

#sound-lobby {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 2px;
  right: 40px;
  display: block;
}

#sound:hover, #sound-lobby:hover {
  cursor: pointer;
}

#color-0, #color-6, #color-12 {
  animation: color-change-0 10s infinite alternate;
}

#color-1, #color-7, #color-13 {
  animation: color-change-1 10s infinite alternate;
}

#color-2, #color-8, #color-14 {
  animation: color-change-2 10s infinite alternate;
}

#color-3, #color-9, #color-15 {
  animation: color-change-3 10s infinite alternate;
}

#color-4, #color-10, #color-16 {
  animation: color-change-4 10s infinite alternate;
}

#color-5, #color-11, #color-17 {
  animation: color-change-5 10s infinite alternate;
}

.sound-on {
  content:url("https://i.imgur.com/IBdWqJb.png");
}

.sound-off {
  content:url("https://i.imgur.com/CwDJxek.png");
}

#exit-button {
  position: absolute;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  right: 5px;
  display: block;
}

#wiki-logo {
  width: inherit
}

#lobby-title {
  text-align: center;
  font-family: impact;
  font-size: 50px;
  margin: 10px 0;
  animation-name: rainbow;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running
}

#overlay {
  position: fixed;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .6
}

#webad-logo {
  display: block;
  margin: auto;
  width: 200px
}

#lobby {
  display: block;
  position: fixed;
  width: 35em;
  top: 5vw;
  left: 22vw;
  background: #f5fffa;
  padding: 5px 10px 20px;
  border-radius: 10px;
  animation-name: gray-border;
  animation-duration: 12s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running
}

#lobby-contents {
  flex-direction: row;
  align-items: center
}

#avatars {
  display: flex;
  flex-direction: column
}

#lobby-columns {
  width: 13em;
  height: 20.5em;
  justify-content: space-between;
  margin-left:15px;
}

#avatars {
  justify-content: center;
  align-items: center
}

.exit-lobby-button {
  color: black;
  font-weight: 900;
  background: none;
  border: none;
  font-size: 20px;
  position: fixed;
  margin: 0;
  padding: 0;
}

.exit-lobby-button:hover {
  color: gray;
  background: none;
}

.avatar-options-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10em
}

.avatar-option {
  width: 55px;
  height: 55px;
  padding: 2px;
  margin: 5px
}

.avatar-option:hover {
  border: 3px solid #6495ed;
  border-radius: 5px
}

#leaderboard {
  font-size: 15px;
  width: inherit;
  height: 100%;
  position: absolute;
  background-color: #f6f6f6
}

.leaderboard-item-left {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
}

#lobby-game-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  font-family: 'Orbitron',sans-serif;
  font-size: 15px;
  /* padding-top: 5px; */
}

.leaderboard-item-right {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.leaderboard-item-right div {
  margin-left: 5px;
}

.leaderboard-curPlayer {
  color: #fff;
  text-shadow: -2px 0 #000,0 2px #000,2px 0 #000,0 -2px #000;
  background: linear-gradient(124deg,#ff2400,#e81d1d,#e8b71d,#e3e81d,#1de840,#1ddde8,#2b1de8,#dd00f3,#dd00f3);
  background-size: 1800% 1800%;
  padding-top: 5px;
  animation-name: rainbow-gradient;
  animation-duration: 18s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-play-state: running
}

.errorMsg {
  color: red;
  font-size: 10px
}

.leaderboard-rank {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 15px
}

#wa-toc {
  width: calc(11em - 16px);
  font-size: 16px;
  position: fixed;
  top: 55vh;
  left: 0
}

#wa-toc>ul {
  height: calc(50vh - 30.3px);
  overflow-y: scroll;
  font-size: 11px
}

.playerName {
  position: absolute;
  color: #fff;
  background-color: #545454;
  top: -24px;
  padding: 0 12px;
  border-radius: 10px;
  text-align: center
}

.player-img {
  height: 45px;
  width: 45px
}

.powerup {
    height: 50px;
    width: 50px;
}

.game-selected {
  color: #fff;
  background: linear-gradient(124deg,#ff2400,#e81d1d,#e8b71d,#e3e81d,#1de840,#1ddde8,#2b1de8,#dd00f3,#dd00f3);
  background-size: 1800% 1800%;
  border-radius: 5px;
  animation-name: rainbow-gradient;
  animation-duration: 18s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-play-state: running
}

#lobby-contents {
  display: flex;
  justify-content: center;
  font-family: 'Orbitron',sans-serif
}

#GamesView {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 21em;
  width: 10em;
  padding: 10px 35px;
  margin: 10px;
  border-right: 1px solid gray;
  border-top: 0;
  border-bottom: 0;
  border-left: 0
}

#public-games-header {
  font-family: impact;
  font-size: 27px;
}

.game-item {
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin: 5px
}

.game-item:hover:not(.game-selected) {
  color: #fff;
  background: #6495ed;
  border-radius: 5px
}

#goal-page {
  text-align: center;
  font-family: 'Orbitron',sans-serif;
  font-size: 15px;
  margin: 6px 0;
}

#or {
  font-size: 11px;
  margin-top: 7px;
  margin-bottom: 7px
}

#games-list {
  overflow: scroll
}

.game-title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  width: 11em;
  align-items: baseline
}

.starting-page {
  font-size: 11px;
  padding-left: 1em
}

.lobby-game-item {
  font-size: 20px;
  margin: 1px;
}

.num-players {
  font-size: 12px
}

#SignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.userStats {
  font-family: impact;
  font-size: 23px;
  text-align: center;
  animation-name: rainbow;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running
}

#curUserRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px
}

#wahoo,.curPlayerName {
  font-family: 'Orbitron',sans-serif;
  font-size: 15px;
  margin-left: 20px
}

#wahoo {
  height: 30px;
  width: 30px
}

#join-private {
  display: flex;
  flex-direction: column;
  align-items: center
}

#submit-fields {
  margin: 5px
}

#display-user, #end > div  {
  display: flex;
  flex-direction: column;
  align-items: center
}

#join-private>input {
  width: 90%
}

div.panel-alert:empty {
  display: none
}

#private-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

#host-private-button {
  background-color: #9cc2e9;
  border: 1px solid #84bbf3
}

#host-private-button:hover {
  background-color: #80b5ea
}

#join-private-button {
  background-color: #ffc477;
  border: 1px solid #eeb44f
}

#join-private-button:hover {
  background-color: #fb9e25
}

.pencil {
  height: 20px;
  margin-left: 3px
}
#public {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#public-game-button {
  padding: 10px 20px;
  font-family: 'Orbitron',sans-serif;
  border: 1px solid gray;
  background: linear-gradient(124deg,#ff2400,#e81d1d,#e8b71d,#e3e81d,#1de840,#1ddde8,#2b1de8,#dd00f3,#dd00f3);
  background-size: 1800% 1800%;
  color: #fff;
  animation-name: rainbow-gradient;
  animation-duration: 18s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-play-state: running
}

#username-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 7em
}

#username-edit {
  width: 7em;
  margin-right: 10px
}

#icon-button:focus {
  outline: 0
}

#end {
  display: block;
  position: fixed;
  width: 35vw;
  font-family: 'Orbitron',sans-serif;
  top: 4vw;
  left: 33vw;
  background-color: rgba(246,246,246,.95);
  padding: 10px 0;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px 0;
}

#user-rankings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
}

#winner {
  color: white;
  padding: 40px 55px;
  font-size: 35px;
  margin: 5px 0;
  background: linear-gradient(124deg,#ff2400,#e81d1d,#e8b71d,#e3e81d,#1de840,#1ddde8,#2b1de8,#dd00f3,#dd00f3);
  background-size: 1800% 1800%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;

  animation-name: rainbow-gradient;
  animation-duration: 18s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-play-state: running
}

#end-flex > .userStats {
  font-size: 35px;
}

#end-flex > button {
  margin-top: 10px;
}

#top, #timer {
  font-family: 'Orbitron',sans-serif;
  text-align: center;
  margin-bottom:3px;
}

#top {
  line-height: 40px;
  position: absolute;
  left: 11em;
  display: block;
}

#lobby-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#info-box {
  visibility: hidden;

  position: fixed;
  font-family: 'Orbitron',sans-serif;
  left: 63vw;
  top: 20vh;
  background: #f5fffa;
  width: 20vw;
  padding: 10px;
  border: 5px solid black;
  border-radius: 5px;
  text-align: center;

  animation-name: gray-border;
  animation-duration: 12s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running
}

#info:hover + #info-box{
  visibility: visible;
}

#info-box div {
  font-size: 13px;
  padding: 8px 0px 8px 0px;
}

#info-box img {
  width: inherit;
  padding: 5px 0px 5px 0px;
}

#selectedGameView {
  margin-top: 40px;
}

#selected-game-render-players {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#selected-game-render-players div {
  margin-right: 5px;
}


#selected-game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-game-header {
  font-family: arial black;
  font-weight: bolder;
  margin-top: 3px;
  text-align: center;
  font-size: 17px;
}

#selected-game-start-page {
  font-size:13px;
  text-align: center;
}

#game-id-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#game-id {
  display:none;
}

.colorful-button:hover + #game-id {
  display:block;
  position:absolute;
  top:59%;
  font-size:14px;
  background: black;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#path {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:5px;
}

.displ-with-right-arrow {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.end-div-button {
  margin-left:10px;
}

.end-item {
  font-size: 17px;
  /* padding-top: 5px; */
}

.end-item-right {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
}

.end-item-right div {
  margin-left: 20px;
}
